{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock head %}

{% block login %}
<main class="form-signin">
  <form method="post" action='{{login_url}}'>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% csrf_token %}
    <div class="form-floating">
      <input type="email" name="login" autocomplete="email" class="form-control" id="floatingInput" placeholder="Email address">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" autocomplete="current-password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">If you don't have account please <a href="{{ signup_url }}">Sign up</a></p>
  </form>
</main>
{% endblock login %}