{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock head %}

{% block login %}
<main class="form-signin">
    {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      {{ message }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <form method="post" action='{{login_url}}'>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% csrf_token %}
    <div class="form-floating">
      {% if form.errors.login %}
        <input type="email" name="login" autocomplete="email" class="form-control is-invalid" id="floatingInput" placeholder="Email address">
        {% for error in form.errors.login %}
          <label class="form-label" for="floatingInput">{{error}}</label>
        {% endfor %} 
        {% else %} 
          <input type="email" name="login" autocomplete="email" class="form-control" id="floatingInput" placeholder="Email address">
          <label for="floatingInput">Email address</label>
      {% endif %}
    </div>

    <div class="form-floating">
      {% if form.errors.password %}
      <input type="password" name="password" autocomplete="current-password" class="form-control is-invalid" id="floatingPassword" placeholder="Password">
        {% for error in form.errors.password %}
          <label class="form-label" for="floatingPassword">{{error}}</label>
        {% endfor %} 
        {% else %} 
          <input type="password" name="password" autocomplete="current-password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
      {% endif %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <button data-mdb-button-init data-mdb-ripple-init
    class="w-100 btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">If you don't have account please <a href="{{ signup_url }}">Sign up</a></p>
  </form>
</main>
{% endblock login %}