<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eSignOutModal">
  Sign out
</button>

<!-- Modal -->
<div class="modal fade" id="eSignOutModal" tabindex="-1" aria-labelledby="SignOutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SignOutModalLabel">Sign Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to sign out?
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'account_logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Sign out</button>
        </form>
        
      </div>
    </div>
  </div>