{% extends 'base.html' %}  
{% load static %}
  
{% block password_change %}
<section class="vh-100 bg-image" id="change_pass">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Change password</h2>

              <form 
                hx-post="{% url 'account_change_password' %}"
                hx-target="#change_pass"
                hx-swap="outerHTML"
                hx-replace-url="{% url 'projects:projects_list' %}">
                {%csrf_token%}
                <div data-mdb-input-init class="form-outline mb-4">
                    {% if form.errors.oldpassword %}
                      <input
                       type="password" name="oldpassword" id="id_oldpassword" class="form-control  form-control-lg is-invalid" />
                      {% for error in form.errors.oldpassword %}
                        <label class="form-label" for="id_oldpassword">{{error}}</label>    
                      {% endfor %}  
                    {% else %}
                      <input autocomplete="current-password"  name="oldpassword" type="password"
                        id="id_oldpassword" class="form-control form-control-lg" />
                      <label class="form-label" for="id_oldpassword">Current Password</label>
                    {% endif %}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {% if form.errors.password1 %}
                      <input autocomplete="new-password" required
                       type="password" name="password1" id="id_password1" class="form-control  form-control-lg is-invalid" />
                      {% for error in form.errors.password1 %}
                        <label class="form-label" for="id_password1">{{error}}</label>
                      {% endfor %}
                    {% else %}
                      <input  autocomplete="new-password" required aria-describedby="id_password1_helptext" 
                       type="password" name="password1" id="id_password1" class="form-control  form-control-lg" />
                      <label class="form-label" for="id_password1">New Password</label>
                      <span class="helptext" id="id_password1"></span>
                    {% endif %}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {% if form.errors.password2 %}
                      <input type="password" name="password2" id="id_password2" class="form-control  form-control-lg is-invalid" autocomplete="off"/>
                      {% for error in form.errors.password2 %}
                        <label class="form-label" for="id_password2">{{error}}</label> 
                      {% endfor %}
                    {% else %}
                      <input  required 
                      type="password" name="password2" id="id_password2" class="form-control form-control-lg" autocomplete="off"/>
                      <label class="form-label" for="id_password2">New Password (again)</label>
                    {% endif %}
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Change</button>
                </div>
                
                <p class="text-center text-muted mt-5 mb-0">  
                  <a href=""
                    class="fw-bold text-body"
                    hx-get="{% url 'projects:projects_list' %}"
                    hx-target="#change_pass"
                    hx-swap="outerHTML"
                    hx-replace-url="{% url 'projects:projects_list' %}">
                    <u>Back</u>
                  </a> to projects
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock password_change %}