{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'todo_list/todo_list.css' %}">
{% endblock head %}
    
{% block projects_list %}

{% include 'navbar.html' %}

<main class="container ">
{% for project in projects %}
  {% if project.name == ''  %}
  {% include 'todo_list/empty_project_form.html' with project=project %}
  {% else %}
  {% include 'todo_list/project_form.html' with project=project %}
  {% include 'todo_list/task_form.html' with project_id=project.id %}
  {% endif %}



  <div class="p-3 bg-body rounded-top custom-rounded shadow-sm">
  {% for task in project.tasks.all %}
    {% include 'todo_list/task_list.html' with task=task %}
  {% endfor %}

  </div>
  
{% endfor %}
</main>

<div class="d-flex justify-content-center my-5">
  <form action="{% url 'projects:projects_create' %}" method="post">
      {%csrf_token%}
      <button type="submit" class="btn btn-primary rounded-pill px-4  btn-lg">
        <i class="bi bi-plus-circle-dotted fs-4 "></i>
        Add TODO
    </button>
  </form>
</div>
        
{%endblock%}