{% load static %}

<form class="card p-2 bg-secondary p-2 text-dark rounded-0"
    hx-post="{% url 'projects:task_create' project.id %}"
    hx-target="#task-body-{{project.id}}"
    hx-swap="afterbegin">
    {%csrf_token%}
    <div class="input-group">
    <button type="button" class="btn btn-success rounded-circle me-2"><i class="bi bi-plus-circle-fill"></i></button>
    <input type="text" class="form-control " placeholder="Create quick task with a deadline tomorrow" name="content" autocomplete="off" required>
    <button type="submit" class="btn btn-success " >Quick task</button>
    </div>
</form>
