<form class="card p-2 bg-secondary p-2 text-dark rounded-0" id="task-form-{{project.id}}"
    hx-post="{% url 'projects:task_create' project.id %}"
    hx-target="#task-form-{{project.id}}"
    hx-swap="outerHTML">
    {%csrf_token%}
    <div class="input-group">
        <button
            hx-get="{% url 'projects:task_create' project.id %}"
            type="button" class="btn btn-success rounded-circle me-2">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
        <input 
            type="text" 
            class="form-control " 
            placeholder="Start typing to create new task" 
            autocomplete="off"
            hx-get="{% url 'projects:task_create' project.id %}"
            hx-trigger="keyup">
    </div>
</form>
